<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotiFlow">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SenderActivity" android:exported="false"/>
        <activity android:name=".ReceiverActivity" android:exported="false"/>
        <activity
            android:name=".PairActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".HistoryActivity" android:exported="false" android:theme="@style/Theme.NotiFlow"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".GeoSettingsActivity" android:exported="false"/>

        <service
            android:name=".SenderService"
            android:label="NotiFlow"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".ReceiverService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".ReplyReceiver"
            android:exported="false"/>
        <receiver
            android:name=".DismissReceiver"
            android:exported="false"/>

        <receiver
            android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".NotiFlowWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.lexlebeau.notiflow.TOGGLE_PLAY"/>
                <action android:name="com.lexlebeau.notiflow.TOGGLE_MESSENGERS"/>
                <action android:name="com.lexlebeau.notiflow.TOGGLE_GEO"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

    </application>

</manifest>